<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <H1>UNPAZ</H1>
    <h1 id="empezando-con-mi-versi-n-practica-microondas-api">Bienvenido a microondas-API</h1>
    <p>La idea es que esta API sea consumida por el front de practica-microondas para generar un muro de
        publicaciones.<br>Las publicaciones deberan tener la siguiente estructura :<br>{</p>
    <pre><code>    <span class="hljs-comment">"Titulo"</span>: <span class="hljs-comment">"Programción 1"</span>,

    <span class="hljs-comment">"Contenido"</span>: <span class="hljs-comment">"Aprender a Programar en lenguaje C...."</span>,  

    <span class="hljs-comment">"Imagen"</span>: <span class="hljs-comment">"path"</span>,

    <span class="hljs-comment">"Usuario"</span>: <span class="hljs-comment">"Fernando"</span>,
</code></pre>
    <p>}</p>
   
    <h3 id="api-endpoints">API endpoints</h3>
    <table>
        <thead>
            <tr>
                <th>Ruta</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>/login</strong></td>
                <td>Endpoint para autenticarse con usuario y contraseña</td>
            </tr>
            <tr>
                <td><strong>/register</strong></td>
                <td>Endpoint para registrar un nuevo usuario</td>
            </tr>
            <tr>
                <td><strong>/publicaciones</strong></td>
                <td>Endpoint para crear,modificar o borrar publicaciones</td>
            </tr>
          </tbody>
    </table>

    <h2 id="contacto">Credenciales de prueba</h2>
    <ul>
        <li>usuario : unpaz</li>
        <li>password : unpazprimerusuario</li>
    </ul>

    <h2 id="contacto">Contacto</h2>
    <p>Puedes enviar un mail a alguna de las siguientes direcciones : </p>
    <ul>
        <li>fcorinaldesi@unpaz.edu.ar</li>
        <li>fernandocorinaldesi@hotmail.com</li>
    </ul>
</body>

</html>